<!--This view is responsible for showing, updating and deleting a sugar-->
<div class="container">

  <div class="page-header">
    <h1>New BG Measurement</h1>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="suagrDate">Date:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="suagrDate" placeholder="Enter date" ng-model="sugar.suagrDate">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="sugartime">Time:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="suagrTime" placeholder="Enter time" ng-model="sugar.suagrTime">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="sugarwhen">When:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="suagrWhen" placeholder="Enter when" ng-model="sugar.suagrWhen">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="sugarvalue">BG Value:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="suagrValue" placeholder="Enter sugar value" ng-model="sugar.suagrValue">
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="pull-right">
            <button type="summit" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="summit" class="btn btn-success" ng-click="create()">Create</button>
          </div>
        </div>
      </div>
    </form>
  </div>

 </div>