<div class="container">
    <h3>Add BG Measurement</h3>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <form class="form-horizontal" role="form" ng-submit="addRow()">
            <div class="form-group">
                <label class="col-md-2 control-label">Date</label>
                <div class="col-md-4">
                    <input type="date" class="form-control" name="date" ng-model="sugar.suagrDate" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Time</label>
                <div class="col-md-4">
                    <input type="time" class="form-control" name="time" ng-model="sugar.suagrTime" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">When</label>
                <div class="col-md-4">
                    <input list="whens" name="whens">
                    <datalist id="whens">
                        <option value="Awekening">
                            <option value="Before Breakfast">
                                <option value="Breakfast">
                                    <option value="Before Lunch">
                                        <option value="Lunch">
                                            <option value="Before Dinner">
                                                <option value="Dinner">
                                                    <option value="Before Sleep">
                                                        <option value="Other">
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">BG Value</label>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="when" ng-model="sugar.suagrValue" />
                </div>
            </div>

            <div class="form-group">
                <div style="padding-left:110px">
                    <input type="submit" value="Add to Log" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">

    <div class="page-header">
        <h3>Recently Saved Entries</h3>
    </div>


    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>When</th>
                        <th>BG Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sugar in sugarArr">
                        <td>{{sugar.suagrDate}}</td>
                        <td>{{sugar.sugarTime}}</td>
                        <td>{{sugar.sugarWhen}}</td>
                        <td>{{sugar.sugarValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>